/******* Colors i tipografia del tema
 *******/
:root {
    --sans-serif: "Fira Sans", sans-serif;
    --text-color: #081226;
    --text-color-background-dark: #F2F2F2;
    --contrast-color: #FFD920;
    --footer-color: #1B2459;
    --required: #FF0000;
    --input-valid: #4CAF50;
    --input-background: #FFFFFF;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* FONTS */
.fira-sans-extralight {
    font-family: var(--sans-serif);
    font-weight: 200;
    font-style: normal;
}

.fira-sans-regular {
    font-family: var(--sans-serif);
    font-weight: 400;
    font-style: normal;
}

.fira-sans-bold {
    font-family: var(--sans-serif);
    font-weight: 700;
    font-style: normal;
}

.fira-sans-regular-italic {
    font-family: var(--sans-serif);
    font-weight: 400;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: var(--sans-serif);
    font-weight: 700;
    font-style: italic;
}

/* END FONTS*/

/* REGLES LAYOUTS */

body {
    position: relative;
    margin: 0;
    font-family: var(--sans-serif);
    color: var(--text-color);
    text-align: center;
    line-height: 1.6;
}

.body-home {
    background-image: url(../img/bg-home.jpg);
    color: var(--text-color-background-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    padding: 0;
}


.body-main {
    padding-bottom: 10rem;
}


.header,
.footer-main {
    background-color: var(--footer-color);
    color: var(--text-color-background-dark);
    text-align: center;
    width: 100%;
}

.header {
    padding-bottom: 3rem;
}

.footer-main,
.footer-home {
    position: absolute;
    height: 10rem;
    font-size: 1.3rem;
    line-height: 2;
    width: 100%;
}

.footer-home {
    text-align: left;
}

.footer-home div {
    margin: 15.0rem 0 0 40rem;
}

.footer-home p:last-child {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.footer-main {
    bottom: 0;
}

.footer-main div {
    margin-top: 2rem;
}

.footer-main ul {
    margin-top: 1rem;
}

.active {
    color: var(--text-color-background-dark);
    border-bottom: 3px solid #FFD920;
}

.container-home {
    text-align: left;
    width: 95%;
    max-width: 112.5rem;
    margin: 12.75rem auto 4.8rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    width: 94%;
    max-width: 103rem;
    margin-left: auto;
    margin-right: auto;
}

/* .container {
    width: 94%;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
} */

footer li {
    display: inline-block;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer li {
    color: var(--text-color-background-dark);
    padding-right: 0.45rem;
}

footer li a {
    padding-right: 0.45rem;
}

footer li::after {
    content: " · ";
}

footer li:last-child::after {
    content: "";
}

h1,
.menu,
.footer-main,
p {
    text-align: left;
}

/* REGLES DE NAVEGACIÓ */
.nav-home {
    font-size: 2rem;
    margin-right: 39.3rem;
    margin-top: 1.6rem;
    text-align: right;
}

.nav-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    color: var(--text-color-background-dark);
    display: inline-block;
    padding: 0 1.5rem;
}

nav li:first-child {
    padding-left: 0;
}

nav a,
footer a {
    color: var(--text-color-background-dark);
    text-decoration: none;
}

.box-home1,
.box-home2 {
    display: inline-block;
}

.box-home1 {
    /* flex: 3; */
    width: 70%;
}

.box-home1 h1 {
    font-size: 14.70rem;
    line-height: 1;
}

.box-home2 {
    /* flex: 1; */
    width: 30%;
    text-align: right;

}

.box-home2 img {
    max-width: 100%;
    width: 90%;
    height: auto;
}

.container-home p {
    font-size: 3.75rem;
}

h1 {
    font-size: 5rem;
}

h1 a {
    color: var(--text-color-background-dark);
    text-decoration: none;
}

h1 a:hover,
nav a:hover,
footer a:hover {
    color: var(--contrast-color);
}

.menu {
    font-size: 1.9rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3.42rem;
    text-align: left;
}

.box {
    border-top: 1px solid black;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

h3 {
    font-size: 2.5rem;
}

figure {
    margin-top: 2rem;
}

figcaption {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

figcaption a,
.box-little a,
.title-table a,
fieldset a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--text-color);
}

figcaption a:hover,
.box-little a:hover,
.title-table a:hover,
fieldset a:hover {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
}

.box p {
    font-size: 1.6rem;
    width: 68.5%;
    margin: 0 auto;

}

.box-little {
    margin-bottom: 4rem;
}

.box-little p {
    font-size: 1.6rem;
}

.yellow-background {
    background-color: var(--contrast-color);
    padding: 0.5rem 1.5rem;
}

.title-table {
    background-color: var(--text-color-background-dark);
    padding: 1rem 0;
    margin-bottom: 2.5rem;
    font-size: 3rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 3rem;
    border: 1px solid black;
    font-size: 1.6rem;
}

caption {
    font-size: 2.2rem;
    color: var(--text-color);
    border: 1px solid black;
    border-bottom: none;
}

.table-head {
    background-color: var(--text-color-background-dark);
    font-size: 1.4rem;
}

tbody {
    vertical-align: baseline;
}

td,
th {
    border: 1px solid black;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

thead th:nth-child(1) {
    width: 24%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 6%;
}

thead th:nth-child(4) {
    width: 50%;
}

.place {
    font-size: 1.8rem;
    font-weight: bold;
}

table ul {
    list-style-type: square;
    padding-left: 2rem;
    padding-right: 2.25rem;
}

table li {
    padding-bottom: 1.5rem;
}

tfoot {
    font-size: 1.3rem;
}

form {
    margin: 5rem auto 0 auto;
    font-size: 1.6rem;
    text-align: left;
    width: 75%;
}

form fieldset {
    background-color: var(--text-color-background-dark);
    border: 0;
    padding-left: 2rem;
    padding-bottom: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}


form fieldset legend {
    font-weight: bold;
    font-size: 1.8rem;
}

form ul {
    list-style-type: none;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

form ul li {
    width: 48%;
}


form input:not(.other-input),
form select,
form textarea {
    width: 100%;
    background-color: var(--input-background);
    padding: 0.8rem;
    border: 1px solid black;
    /* font-size: 1.6rem; */
    border-radius: 0.5rem;
}

li label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

label abbr,
legend abbr {
    text-decoration: none;
    color: var(--required);
}

section:last-child fieldset,
.type-payment {
    padding-bottom: 3rem;
}

.type-payment ul {
    padding-top: 2rem;
}

.type-payment li,
.other-info li,
section:last-child fieldset li {
    width: 100%;

}

.type-payment label,
section:last-child fieldset label {
    text-align: left;
    display: inline;
    margin-left: 1rem;
}

.type-payment label,
input[type="radio"],
input[type="checkbox"] {
    vertical-align: middle;
}

fieldset.other-info {
    padding-right: 2rem;
    margin-bottom: 2rem;
}

section:last-child fieldset {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 7rem;
}

fieldset p {
    font-size: 1.125rem;
}

button {
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--contrast-color);
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--footer-color);
    color: var(--input-background);
    cursor: pointer;
}

/* input[type="text"]:user-invalid,
input[type="email"]:user-invalid,
input[type="date"]:user-invalid, */
input[required]:user-invalid,
select[required]:user-invalid {
    border: 1px solid var(--required);
}

input[required]:user-valid,
select[required]:user-valid {
    border: 1px solid var(--input-valid);
}

form input[type="radio"]:user-invalid,
form input[type="checkbox"]:user-invalid {
    box-shadow: 0 0 0 1px var(--required);
}


form input[type="radio"]:checked:user-valid,
form input[type="checkbox"]:checked:user-valid {
    box-shadow: 0 0 0 1px var(--input-valid);
}
