/******* Colors i tipografia del tema
 *******/
:root {
    --text-color: #081226;
    --text-color-background-dark: #F2F2F2;
    --contrast-color: #FFD920;
    --footer-color: #1B2459;
    --sans-serif: "Fira Sans", sans-serif;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* FONTS */
.fira-sans-extralight {
    font-family: var(--sans-serif);
    font-weight: 200;
    font-style: normal;
}

.fira-sans-regular {
    font-family: var(--sans-serif);
    font-weight: 400;
    font-style: normal;
}

.fira-sans-bold {
    font-family: var(--sans-serif);
    font-weight: 700;
    font-style: normal;
}

.fira-sans-regular-italic {
    font-family: var(--sans-serif);
    font-weight: 400;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: var(--sans-serif);
    font-weight: 700;
    font-style: italic;
}

/* END FONTS*/
body {
    position: relative;
    margin: 0;
    min-height: 50vh;
    /* Debe ser igual a la altura del footer */
    padding-bottom: 11.2rem;
    font-family: var(--sans-serif);
    color: var(--text-color);
    text-align: center;
    line-height: 1.6;
}

.body-home {
    background-image: url(../img/bg-home.jpg);
    color: var(--text-color-background-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;

}

.nav-home {
    font-size: 2rem;
    margin-right: 39.3rem;
    margin-top: 1.6rem;
    text-align: right;
}

.nav-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    color: var(--text-color-background-dark);
    display: inline-block;
    padding: 0 1.5rem;
}

nav li:first-child {
    padding-left: 0;
}

nav a,
footer a {
    color: var(--text-color-background-dark);
    text-decoration: none;
}

nav a:hover {
    color: var(--contrast-color);
}

.container-home {
    text-align: left;
    width: 95%;
    max-width: 112.5rem;
    margin: 12.75rem auto 4.8rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-home1,
.box-home2 {
    display: inline-block;

}

.box-home1 {
    /* flex: 3; */
    width: 70%;
}

.box-home1 h1 {
    font-size: 14.70rem;
    line-height: 1;
}

.box-home2 {
    /* flex: 1; */
    width: 30%;
    text-align: right;

}

.box-home2 img {
    max-width: 100%;
    width: 90%;
    height: auto;
}

.container-home p {
    font-size: 3.75rem;
}

.header {
    background-color: var(--footer-color);
    color: var(--text-color-background-dark);
    width: 100%;
    text-align: left;
    padding-bottom: 3rem;
}

.active {
    color: var(--text-color-background-dark);
    border-bottom: 3px solid #FFD920;
}

.menu {
    font-size: 1.9rem;
}

.header header,
nav.menu {
    margin-left: 36rem;
}

.footer-main {
    position: absolute;
    bottom: 0;
    height: 11.2rem;
    /* Define la altura del footer */
    background-color: var(--footer-color);
    color: var(--text-color-background-dark);
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.footer-main div {
    margin: 1rem 0 0 36.25rem;
}

footer li {
    display: inline-block;
}

.footer-home {
    position: absolute;
    text-align: left;
    font-size: 1.3rem;
    height: 10rem;
    width: 100%;
    line-height: 2;
}

.footer-home div {
    margin: 15.0rem 0 0 40rem;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-home li {
    color: var(--text-color-background-dark);
    padding-right: 0.45rem;
}

.footer-home li a {
    padding-right: 0.45rem;
}

footer li::after {
    content: " · ";
}

footer li:last-child::after {
    content: "";
}

.footer-home p:last-child {
    font-size: 1.4rem;
    margin-top: 1rem;
}

h1 {
    font-size: 5rem;
}

h1 a {
    color: var(--text-color-background-dark);
    text-decoration: none;
}


.container-main {
    text-align: center;
    width: 95%;
    max-width: 120rem;
    margin: 3rem auto 4.8rem auto;
}

.container-main h2 {
    font-size: 3.42rem;
    text-align: left;
}

.box{
    border-top: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

h3{
    font-size:2.5rem;
}

figure {
    margin-top: 2rem;
}

figcaption {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

figcaption a{
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--text-color);
}

figcaption a:hover{
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
}

.box p{
    text-align: left;
    font-size: 1.69rem;
    width: 62%;
    margin: 0 19%;

}
/******* Regles per als elements 
de les pàgines *******/